
.first-table{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 18px solid #3A4965;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.first-raw{
    text-transform: uppercase;
    font-size: 24px;
    vertical-align: middle;
 
}

.plan{
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 30px;
}

.stand{
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    background: #89C331;
}

.prem{
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    background: #20807C;

}

.span-plan{
    font-size: 43px;
}

.ult{
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    background: #F04A56;
    font-size: 30px;
}

th{ 
    border: 1px solid rgba(0, 0, 0, 0.1); 
 }

.f-tab{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 363px;
    text-align: center;
    height: 80px;
    vertical-align: middle;
    text-transform: uppercase;
}

.raw-col{
    background-color: #E3E3E3;
    
}

.f-tab-btn{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 363px;
    text-align: center;
    height: 110px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #DDDDDD;
}

.contact{
    color: #fff;
    background: #484848;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 60px;
    background: linear-gradient(to bottom, #484848 80%,#404040 20%);
    border: none;
    cursor: pointer;
}

.buy-stand{
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 60px;
    background: linear-gradient(to bottom, #89C331 80%,#79B027 20%);
    border: none;
    cursor: pointer;
}

.buy-ult{
    color: #fff;
    background: #F04A56;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 60px;
    background: linear-gradient(to bottom, #F04A56 80%,#DF3A46 20%);
    border: none;
    cursor: pointer;
}

.buy-prem{
    color: #fff;
    background: #20807C;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 60px;
    background: linear-gradient(to bottom, #20807C 80%,#16736F 20%);
    border: none;
    cursor: pointer;
}

.index-span{
    padding-right: 45px;
    font-size: 24px;
    font-weight: bold;
}

.price{
   display: flex;
   justify-content: center;
   align-items: center;
}

.span-price{
    font-size: 35px;
    font-weight: bold;
}

.upper-index{
    padding-bottom: 14px;
}


.second-table{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 18px solid #3A4965;
    width: 100%;
    flex-direction: column;
    font-family: 'Arimo', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.f-raw-table{
    text-transform: uppercase;
    font-size: 27px;
    vertical-align: middle;
    border-bottom: 18px solid #3A4965;
    height: 140px;
}
.s-tab{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 363px;
    text-align: center;
    height: 200px;
    vertical-align: middle;
    text-transform: uppercase;
}

.s-tab-gray{
    background-color: #E3E3E3;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 363px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.price-plan{
    font-size: 32px;
}

.sec-table-span{
    font-size: 24px;
}

.marg-span{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.price-tab-stand{
    color: #fff;
    background-color: #89C331;
    width: 363px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-transform: uppercase;
}

.price-tab-ult{
    color: #fff;
    background-color: #F04A56;
    width: 363px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-transform: uppercase;
}

.price-tab-prem{
    color: #fff;
    background-color: #20807C;
    width: 363px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-transform: uppercase;
}

.span-size-usp{
    font-size: 30px;
    font-weight: bold;
    
}

.price-sec-tab{
    display: flex;
    justify-content: center;
    align-items: center;
}

.index{
    padding-bottom: 12px;
    padding-left: 5px;
}

.index-cent{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-right: 130px;
    font-weight: bold;
}

.span-price-sec{
    font-size: 35px;
    font-weight: bold;
}

.buy-sec-table{
    color: #fff;
    background: #484848;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 70px;
    background: linear-gradient(to bottom, #484848 80%,#404040 20%);
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

